/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin: 0 auto;
  padding: 0;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  font-variation-settings: "wght" var(--regular-font-weight);
  background-image: var(--page-background);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  inline-size: var(--content-width);
  margin: 0 auto;
  background-color: var(--background-color);
  box-sizing: border-box;
  border: 2px solid var(--main-accent);
}

.posts {
  display: grid;
  gap: 50px;

}

.post-card {
  block-size: 100%;
}

.page-header {
  margin-block-start: 100px;
  margin-block-end: 50px;
  display: grid;
  gap: 20px;
  padding: var(--header-spacing);
}

.header__item {
  font-family: var(--accent-font);
  font-size: var(logo-font-size);
  text-transform: uppercase;
  justify-self: center;
}

.logotype {
  font-size: var(--logo-font-size);
}

.header__title {
  font-size: var(--heading-font-size);
}

.post__title {
  font-variation-settings: "wght" var(--bold-font-weight);
  margin-block-start: 4px;
  margin-block-end: 4px;
  font-size: var(--main-font-size);
  margin-inline: 10px;
}

.post-image__container {
  position: relative;
  padding: 0;
}

.image__caption {
  position: absolute;
  font-family: var(--accent-font);
  font-size: var(--caption__font-size);
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--text-border-color), 0 1px var(--text-border-color),
    0 -1px var(--text-border-color), 1px 0 var(--text-border-color);
  top: 30px;
  right: 30px;
  z-index: 1;
}

@supports (-webkit-text-stroke: 1px var(--text-border-color)) {
  .image__caption {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-border-color);
  }
}

.post__image {
  inline-size: 100%;
  block-size: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}

.filter-dramatic {
  filter: contrast(200%) brightness(80%) saturate(120%);
}

.filter-optimism {
  filter: hue-rotate(-20deg) saturate(140%) brightness(110%);
}

.filter-mystery {
  filter: grayscale(60%) blur(0.5px) contrast(130%);
}

.filter-surreal {
  filter: invert(0.8) hue-rotate(180deg) contrast(150%);
}

.filter-melancholy {
  filter: grayscale(40%) sepia(0.3) contrast(90%) brightness(85%);
}

.filter-vintage {
  filter: sepia(0.7) contrast(120%) brightness(95%);
}

.filter-epic {
  filter: brightness(120%) saturate(150%) contrast(110%);
}

.filter-energy {
  filter: saturate(200%) contrast(130%);
}

.post__text {
  font-size: var(--main-font-size);
}

.actions-container {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.post-actions {
  justify-content: flex-end;
  padding: 0 25px 25px;
}

.button {
  position: relative;
  border: 2px solid var(--main-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
}

.button-saving {
  flex-direction: column;
  inline-size: 100%;
  gap: 9px;
  justify-self: center;
  inline-size: clamp(306px, calc(297.714px + 2.589vw), 335px);
  background-color: var(--button-text-color);
  margin-block-end: 100px;
  padding-block: 18px;
}


.card__icon-button {
  background-color: transparent;
  cursor: pointer;
  block-size: 38px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  padding: 0;
}

.card__icon-button:focus-visible {
  border-color: var(--main-accent);
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
  box-sizing: border-box;
}

.paragraphs {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.button__text {
  font-family: var(--accent-font);
  position: relative;
  line-height: 0.9;
  font-size: var(--button__font-size);
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.floppy {
  display: block;
  width: 21px;
  height: 21px;
  filter: brightness(0) invert(1);
  mix-blend-mode: difference;
}

button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-accent);
}

.button::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--main-accent);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.dialog-window {
  font-family: var(--accent-font);
}

.dialog-window[open] {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  gap: 30px;
  min-inline-size: clamp(341px, calc(337.571px + 1.071vw), 353px);
  inline-size: clamp(341px, calc(337.571px + 1.071vw), 353px);
}

.dialog-container {
  display: grid;
  grid-template-columns: 15% 1fr;
  gap: 20px;
  align-items: center;
}

.dialog-title {
  font-size: var(--dialog__font-size);
  line-height: 1.5;
  text-transform: uppercase;
}

.save-floppy {
  width: 100%;
}

.button-agreement {
  padding-block: 14px;
}

dialog::backdrop {
  background-color: black;
  opacity: 75%;
}

@media (width > 376px) {
  .page-header {
    margin-block-end: 98px;
  }

  .button-saving {
    display: flex;
    flex-direction: row;
    gap: 8px;
    min-block-size: 55px;
  }

  .floppy {
    height: 21px;
    width: 21px;
  }
}

/*Анимации*/

.like-icon {
  display: block;
  align-self: center;
  justify-self: center;
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill linear 0.3s 0.03s;
}

.main-body {
  transition: fill linear 0.3s;
}

.like-icon:hover .core {
  fill: var(--heart-outline);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-outline);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-fill);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-fill);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

